/* Header */
.header-container {
  width: 80%;
  margin: 30px auto;
}

.heading {
  text-align: center;
  font-size: 22px;

}

/* Card */
.cards-container {
  width: 100%;
}

.card {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 80%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}

.title {
  font-weight: bolder;
  font-size: 20px;
  margin-block: 0;
  color: #4b0a0a;
}

hr {
  content: "";
  height: 5px;
  background: #ffb535;
  width: 35px;
  border-radius: 3px;
  margin-left: 0;
  border: none;
}

.time {
  font-size: 14px;
  color: #858080;
}

.summary {
  overflow-x: auto;
  margin-top: 15px;
  font-size: 16px;

}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 18px;
  }
  .title {
    font-size: 16px;
  }
  .summary {
    font-size: 14px;
  }
}