{% include 'bootstrap-skeleton.html' %}

{% load news_home %}

{% load static %}

{% block staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/corporate_announcements/announcements_discover.css' %}" />
{% endblock staticfiles %}

{% block content_body %}

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
<script src="{% static 'js/corporate_announcements/announcements_discover.js' %}"></script>


<body>
    <!-- Heading -->
    <div class="container">
        <h3 class="heading">Discover Corporate Announcements</h3>
    </div>
    <!-- Autocomplete Bar -->
    <div class="container">
        <form autocomplete="off" class="form">
            <input id="input-field" placeholder="Search companies, sectors or topics" type="text">
            <ul class="autocomplete"></ul>
        </form>
    </div>
    <!-- Cards Section -->
    <div class="container" id="cards-container">
    </div>

</body>

{% endblock %}